<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.microscope">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Microscope">
        <activity
            android:name=".MainMenuActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddPeriodActivity"
            android:exported="true" />
        <activity
            android:name=".SetupStartPeriodActivity"
            android:exported="true" />
        <activity
            android:name=".SetupEndPeriodActivity"
            android:exported="true" />
        <activity
            android:name=".PeriodScreen"
            android:exported="true" />
        <activity
            android:name=".PaletteActivity"
            android:exported="true" />
        <activity
            android:name=".NewGameSetup"
            android:exported="true"/>
    </application>

</manifest>